# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# Node.js
# =====================
node_modules/
.env
.env.local
.env.production

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# =====================
# Docker
# =====================
*.tar
*.tgz

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# Jenkins
# =====================
*.jenkins
workspace/

# =====================
# Build artifacts
# =====================
dist/
build/
